.calendar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
}

.calendarDays {
    grid-area: 1 / 1 / 3 / 2;
}

.calendarWeek1 {
    grid-area: 2 / 1 / 4 / 2;
}

.calendarWeek2 {
    grid-area: 3 / 1 / 5 / 2;
}

.calendarWeek3 {
    grid-area: 4 / 1 / 6 / 2;
}

.calendarWeek4 {
    grid-area: 5 / 1 / 7 / 2;
}

.calendarWeek5 {
    grid-area: 6 / 1 / 8 / 2;
}

.calendarRowDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
}
    
.calendarDayMo {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}

.calendarDayDi {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}

.calendarDayMi {
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
}

.calendarDayDo {
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
}

.calendarDayFr {
    grid-area: 1 / 5 / 2 / 6;
    text-align: center;
}

.calendarDaySa {
    grid-area: 1 / 6 / 2 / 7;
    text-align: center;
}

.calendarDaySo {
    grid-area: 1 / 7 / 2 / 8;
    text-align: center;
}

.calendarRows {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    font-size: small;
}
    
.calendarMo {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    font-size: medium;
    border-radius: 20px;
    border: 2px solid black;
}

.calendarDi {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    font-size: medium;
    border-radius: 20px;
    border: 2px solid black;
}

.calendarMi {
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
    font-size: medium;
    border-radius: 20px;
    border: 2px solid black;
}

.calendarDo {
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
    font-size: medium;
    border-radius: 20px;
    border: 2px solid black;
}

.calendarFr {
    grid-area: 1 / 5 / 2 / 6;
    text-align: center;
    font-size: medium;
    border-radius: 20px;
    border: 2px solid black;
}

.calendarSa {
    grid-area: 1 / 6 / 2 / 7;
    text-align: center;
    font-size: medium;
    border-radius: 20px;
    border: 2px solid black;
}

.calendarSo {
    grid-area: 1 / 7 / 2 / 8;
    text-align: center;
    font-size: medium;
    border-radius: 20px;
    border: 2px solid black;
}

.days {
    font-size: medium;
    font-weight: bolder;
    padding: 10px;
    margin: 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.daySo {
    font-size: medium;
    font-weight: bolder;
    padding: 10px;
    margin: 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dayMo {
    font-size: medium;
    font-weight: bolder;
    padding: 10px;
    margin: 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}